{% extends 'base.html' %}

{% block body %}
<h3>{% block title %}About{% endblock %}</h3>
<p>Welcome to the about section of Droplet, here you can find <b>infomation</b> related to Droplet.</p>
<hr>
<h4>What is Droplet?</h4>
<p>Droplet is a small website about renewable energy and how it can help us in day-to-day life. This website is part of
    an independant school project about the UN Sustainable Goals and how we can impact them by 2030.</p>
<h4>Intended Audiance</h4>
<p>The website is aimed at the general public as a small awareness campaign as mentioned in the above answer.</p>
<h4>Credits</h4>
<p>Here are all of the individuals that have came together to make Droplet</p>
<ul>
    <li>Website developer: <a href="https://scalist.net">Scalist.net</a></li>
    <li>Wording advisor: <a href="http://liverpooldea.co.uk/">Eileen Griffiths</a></li>
</ul>
<h4>Logo</h4>
<img src="{{ url_for('static', filename='img/DropletLogo.png') }}" alt="Droplet logo" width="250px" class="imgframe">
{% endblock %}