{% extends 'base.html' %}

{% block body %}
<div class="jumbotron">
    <h1 class="display-3">{% block title %}Home{% endblock %}</h1>
    <p class="lead">Droplet is a small website about renewable energy and how it can help us in day-to-day life. This
        website is part of an independant school project about the UN Sustainable Goals and how we can impact them by
        2030.</p>
    <hr class="my-4">
    <p>If you would like to find an outlet/retailer for solar panels/solar panel kits you can press the button below
        to travel to an interactive retail locator.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="{{ url_for('locator') }}" role="button">Locate retailers</a>
    </p>
</div>
<div style="width:60%; float:left">
    <!--DO NOT AUTO-FORMAT THIS PAGE IN IDE-->
    <h3>What Is Renewable Energy?</h3>
    <p>Renewable energy, often referred to as clean energy, comes from natural sources or processes that are constantly
        replenished. For example, sunlight or wind keep shining and blowing, even if their availability depends on time and
        weather.
        <br><br>
        While renewable energy is often thought of as a new technology, harnessing nature’s power has long been used for
        heating, transportation, lighting, and more. Wind has powered boats to sail the seas and windmills to grind grain.
        The sun has provided warmth during the day and helped kindle fires to last into the evening. But over the past 500
        years or so, humans increasingly turned to cheaper, dirtier energy sources such as coal and fracked gas.
        <br><br>
        Now that we have increasingly innovative and less-expensive ways to capture and retain wind and solar energy,
        renewables are becoming a more important power source. The expansion in renewables is also happening at scales
        large and small, from rooftop solar panels on homes that can sell power back to the grid to giant offshore wind
        farms. Even some entire rural communities rely on renewable energy for heating and lighting.</p>
    <h3>What is solar energy?</h3>
    <p>Humans have been harnessing solar energy for thousands of years—to grow crops, stay warm, and dry foods. According
        to the National Renewable Energy Laboratory, “more energy from the sun falls on the earth in one hour than is used
        by everyone in the world in one year.” Today, we use the sun’s rays in many ways—to heat homes and businesses, to
        warm water, or power devices.
        <br><br>
        Solar, or photovoltaic (PV), cells are made from silicon or other materials that transform sunlight directly into
        electricity. Distributed solar systems generate electricity locally for homes and businesses, either through
        rooftop panels or community projects that power entire neighborhoods. Solar farms can generate power for thousands
        of homes, using mirrors to concentrate sunlight across acres of solar cells. Floating solar farms—or
        “floatovoltaics”—can be an effective use of wastewater facilities and bodies of water that aren’t ecologically
        sensitive.
        <br><br>
        Solar supplies a little more than 1 percent of U.S. electricity generation. But nearly a third of all new
        generating capacity came from solar in 2017, second only to natural gas.
        <br><br>
        Solar energy systems don’t produce air pollutants or greenhouse gases, and as long as they are responsibly sited,
        most solar panels have few environmental impacts beyond the manufacturing process.</p>
</div>
<div style="width:35%; float:right">
    <img src="{{ url_for('static', filename='img/solar1.jpeg') }}" alt="Solar panel" width="100%" class="imgframe">
    <br><br>
    <img src="{{ url_for('static', filename='img/solar2.jpeg') }}" alt="Solar panel" width="100%" class="imgframe">
    <br><br>
    <img src="{{ url_for('static', filename='img/solar3.jpeg') }}" alt="Solar panel" width="100%" class="imgframe">
</div>
<br style="clear:both;"/>
{% endblock %}