{% extends 'base.html' %}

{% block cushead %}
<!--Map dependencies-->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
    crossorigin="" />
<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js" integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
    crossorigin=""></script>
{% endblock %}

{% block body %}
<h3>{% block title %}Retail locator{% endblock %}</h3>
<p>This page will help you find a retail outlet in the UK where you can buy affordable solar panels from, locally or <b>online</b>.</p>
<hr>
<h5>Local retailers</h5>
<div id="map"></div>
<script src="{{ url_for('static', filename='js/map.js') }}"></script>
<script>makemap("{{ url_for('static', filename='json/markergen.json') }}")</script>
<br>
<h5>Online retailers</h5>
<a href="https://www.amazon.co.uk/b/ref=sr_aj?node=4370161031&ajr=0" target="_blank"><img src="{{ url_for('static', filename='img/amazon.png') }}" alt="Amazon"
        width="25%" class="imgframe"></a>
<a href="https://www.ebay.com/b/Electrical-Solar-Supplies/20595/bn_2313948" target="_blank"><img src="{{ url_for('static', filename='img/ebay.jpeg') }}" alt="Ebay"
        width="25%" class="imgframe"></a>
{% endblock %}